
@model IEnumerable<Application.Hotel.Reservations.Queries.HomePage.AvailableRoomViewModel>

@foreach (var room in Model)
{
    <tr>
        <td data-label="Image">
            <img id="img-room-view" src="@room.RoomTypeImage">
        </td>
        <td data-label="RoomType"> @room.RoomTypeName</td>
        <td data-label="Price">@(room.RoomTypePrice)EUR</td>
        <td data-label="Capacity">@room.RoomTypeCapacityAdults</td>
        <td data-label="Capacity">@room.RoomTypeCapacityKids</td>
        <td>
            <input name="RoomIds" type="checkbox" value="@room.Id" /> Book
        </td>
    </tr>
}